.card {
    padding: 15px 30px;
    flex: 30% 1;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: #ffffff12;
	position: relative;

	&.has-content {
		padding-bottom: 50px;
	}

	&.is-empty {
		justify-content: center;
		align-items: center;
	}
}
